[Unit]
Description=FamilyCabin Website Service
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/webz/familycabin
ExecStart=/usr/bin/npm start
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=familycabin
Environment=NODE_ENV=production
Environment=PORT=3003

[Install]
WantedBy=multi-user.target
