[Unit]
Description=Regulogix Website Service
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/webz/regulogix
ExecStart=/usr/bin/npm start
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=regulogix
Environment=NODE_ENV=production
Environment=PORT=3002

[Install]
WantedBy=multi-user.target
