[Unit]
Description=vGriz Website Service
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/webz/vgriz
ExecStart=/usr/bin/npm start
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=vgriz
Environment=NODE_ENV=production
Environment=PORT=3001

[Install]
WantedBy=multi-user.target
